body {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 30px;
   
   font: 14px/1.5 monospace;
 }
 
 .section {
   height: 200px;
   
   background: #ffeb3b;
 }
 
 .image {
   background-image: url(https://assets.codepen.io/1425525/tota_ill_1.jpg);
   background-repeat: no-repeat;
 }
 
 .size-cover {
   background-size: cover;
 }
 
 .size-contain {
   background-size: contain;
 }